@use "variables" as v;

.btn{
    background-color: v.$color1; /* Green */
    color: white;
    text-align: center;
    font-size: 12px;
    border-radius: 50px 30px 30px 50px;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
}


.btnbox{
    border: 1px solid black;
}